<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.embeddedlapps.subastas_cliente"
    android:versionCode="18"
    android:versionName="1.18" android:installLocation="preferExternal">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    
     <uses-permission android:name="Android.permission.READ_OWNER_DATA"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	
	<!--
	  IMPORTANT: If you change the package name of this sample app, change
	  "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the
	  lines below to match the new package name.
	-->
	<permission android:name="com.embeddedlapps.subastas_cliente.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />
	<uses-permission android:name="com.embeddedlapps.subastas_cliente.permission.C2D_MESSAGE" />
    

    <application
        android:name="com.embeddedlapps.subastas_cliente.Application"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"  >
        <activity
            android:name="com.embeddedlapps.subastas_cliente.MainActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:label="Pedidos Realizados"
            android:name=".MisSubastas" 
            android:configChanges="orientation"
    		android:screenOrientation="portrait"
    		
            >
            <intent-filter >
                <action android:name="com.embeddedLapps.MisSubastas" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:label="Nueva Solicitud"
            android:name=".NuevoPedido" 
            android:configChanges="orientation"
    		android:screenOrientation="portrait"
    		
            >
            <intent-filter >
                <action android:name="com.embeddedLapps.NuevoPedido" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
          <activity
            android:label="Su producto"
            android:name=".finSubastas" 
            android:configChanges="orientation"
    		android:screenOrientation="portrait"
            >
            <intent-filter >
                <action android:name="com.embeddedLapps.finSubastas" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           <activity
            android:label="Enviar Pago"
            android:name=".Comprar" 
            android:configChanges="orientation"
    		android:screenOrientation="portrait"
            >
            <intent-filter >
                <action android:name="com.embeddedLapps.Comprar" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           
           
           
           
           <service android:name="com.parse.PushService" />
		<receiver android:name="com.parse.ParseBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.USER_PRESENT" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.parse.GcmBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />

				<!--
				  IMPORTANT: If you change the package name of this sample app,
				  change "com.parse.tutorials.pushnotifications" in the lines
				  below to match the new package name.
				-->
				<category android:name="com.embeddedlapps.subastas_cliente" />
			</intent-filter>
		</receiver>
           
           
           
           
         
    </application>
    
   

</manifest>
